* {
  font-family: Georgia;
}
h1 {
   color: FireBrick;
}
p {
  font-size: 18px;
}

h1,p {
  color:DarkSlateGray;
}
/* Adding comment */
a {
	color: lightgreen;
	text-decoration: none;
	border-style: solid;
	border-width: 2px;
	border-color: #4d5fb04d;


}